[submodule "vimplugins/bundle/supertab"]
	path = vimplugins/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vimplugins/bundle/nerdtree"]
	path = vimplugins/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vimplugins/bundle/syntastic"]
	path = vimplugins/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vimplugins/bundle/vim-easymotion"]
	path = vimplugins/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "vimplugins/bundle/vim-indent-guides"]
	path = vimplugins/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vimplugins/bundle/ctrlp.vim"]
	path = vimplugins/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vimplugins/bundle/vim-powerline"]
	path = vimplugins/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vimplugins/bundle/vim-rails"]
	path = vimplugins/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vimplugins/bundle/vim-colors-solarized"]
	path = vimplugins/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vimplugins/bundle/vim-surround"]
	path = vimplugins/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim-ruby"]
	path = vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim-slim"]
	path = vim-slim
	url = git://github.com/bbommarito/vim-slim.git
[submodule "vimplugins/bundle/vim-slim"]
	path = vimplugins/bundle/vim-slim
	url = git://github.com/bbommarito/vim-slim.git
[submodule "vimplugins/bundle/vim-ruby"]
	path = vimplugins/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vimplugins/bundle/tagbar"]
	path = vimplugins/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
